* {
  margin: 0px;
  padding: 0px;
  color: rgb(0, 1, 51);
}

ul {
  padding-inline-start: 40px;
}

em {
  font-size: 16px;
}

a {
  font-size: 14px;
  color: #02c;
  border-style: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  text-indent: 0em;
  font-family: sans-serif;
  padding: 0.2em 0;
}

body {
  font-size: 14px;
  line-height: 1.6;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 100% 100%;
  background-attachment: fixed;
  background-color: #ffffff;
  word-break: keep-all;
  overflow-wrap: break-word;
}

header {
  margin-top: 15px;
}

.main-navigation ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.main-navigation ul li {
  flex: 1;
  text-align: center;
  list-style: none;
  display: flex;
}

.main-navigation ul li:not(:last-child) {
  border-right: 2px solid #7aa8ff;
  margin-right: -2px;
}

.main-navigation a {
  flex: 1;
  color: #000;
  font-size: max(12px, 1.8vw);
  padding: 4px 0;
  position: relative;
}

.main-navigation a:hover {
  text-decoration: none;
}

.main-navigation a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #7aa8ff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.1s ease-out;
}

/* ホバー時のアニメーション */
.main-navigation a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* ホバーが外れた時のアニメーション */
.main-navigation a:not(:hover)::before {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.1s ease-out;
}

main {
  margin: 0 clamp(1rem, 2.5vw, 2rem);
}

.logo img {
  width: 100%;
  height: auto;
  aspect-ratio: 900 / 239;
}

.essay {
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  font-size: 40px;
  font-family: fantasy, serif;
  color: #000;
  border-bottom: solid 2px;
  border-color: #7aa8ff;
  margin: 10px 0px 10px 0px;
  padding: 0 0 0 60px;
  background-image: url(../images/h1icon.png);
  background-repeat: no-repeat;
  background-position: 0 5px;
  background-size: 50px;
}

h2 {
  font-size: 20px;
  font-family: sans-serif;
  line-height: 1.6;
  border-bottom: solid 1px;
  border-bottom-color: #030;
  border-color: #7aa8ff;
  margin-top: 30px;
  margin-bottom: 20px;
  text-indent: 0em;
  background: #0f46ad;
  padding: 0.5rem;
  position: relative;
  color: #fff;
}

h2 a {
  font-size: 20px;
}

/* 吹き出しのようなデザイン */
h2:before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 10px transparent;
  border-right: solid 20px rgb(6, 0, 56);
}

h3 {
  font-size: 16px;
  line-height: 1.4;
  border-bottom-color: #030;
  text-indent: 0em;
  color: #000;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.floating-banner {
  position: fixed;
  z-index: 99999;
  bottom: 30px;
  left: 0;
}

.banner {
  width: 250px;
  /* バナーの横幅 */
  padding: 20px 10px;
  background: radial-gradient(#eb7426, #cf5606);
  font-weight: bold;
  text-align: center;
}

.copy {
  font-size: 25px;
  font-family: sans-serif;
  margin: 0 auto 0;
  line-height: 1.6;
}

address {
  font-style: normal;
}

footer {
  clear: both;
  padding: 2px;
  text-align: center;
  display: block;
  width: 100%;
  border-radius: 12px 12px 12px 12px;
  background: #8087b0;
  color: #ffffff;
  font-size: 13px;
  margin-top: 90px;
  margin-bottom: 90px;
}

@media screen and (max-width: 560px) {
  /*
  画面サイズが560px以下の場合ここの記述が適用される
  スマホ用のスタイル
  */

  body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 100% 100%;
    background-attachment: fixed;
    background-color: #ffffff;
  }

  .logo img {
    margin-bottom: 15px;
  }

  .floating-banner {
    display: inline-block;
    bottom: 0;
    left: 0;
  }

  .banner {
    width: 100vw;
    height: 12vh;
    padding: 8px;
  }

  .sp {
    display: none;
  }

  .copy {
    height: 100%;
    font-size: 22px;
    padding: 15px 0;
  }

  h1 img {
    height: 10vw;
  }

  h1 {
    font-size: 7.5vw;
    margin: 1.5vw 0 1.5vw 0;
    padding: 0 0 0 12vw;
    background-image: url(../images/h1icon.png);
    background-repeat: no-repeat;
    background-position: 0 1.5vw;
    background-size: 10vw;
  }

  .essay {
    margin-left: 0;
    margin-right: 0;
  }
}
