
@media screen and (min-width:561px) {
  section#shoukai{
    float:left;
    width:280px;
    margin:10px 0px 0px 20px;
    margin-bottom:30px;
    line-height:0.2;
  }

  section#shoukai p{
    text-indent:0px;
    padding:0px 32px 0px 32px;
  }
  section#shoukai iframe{
    display:block;
    padding:5px 23px;
    overflow:hidden;
  }
  
  section#news,section#twitter{
    float:right;
    display:block;
    width:540px;
  }
  section#twitter{
    margin-bottom:30px;
  }
  
  h2{
  text-indent:0em;
  }
  
  section#twitter h1{
    line-height:1.4em;
  }
  #twitter span,li,a{
    font-size:12px;
  }
  #twitter ul{
    list-style-type: none;
  }
}
@media screen and (max-width:560px) {
  section#shoukai{
    width:75%;
    line-height:0.2;
  }

  section#shoukai p{
    text-indent:0px;
    padding:0px 32px 0px 32px;
  }
  section#shoukai iframe{
    display:block;
    padding:5px 23px;
    overflow:hidden;
  }
  
  section#news,section#twitter{
    display:block;
    margin-left: 0;
    width:100%;
  }
  section#twitter{
  }
  
  h2{
  text-indent:0em;
  }
  
  section#twitter h1{
    line-height:1.4em;
  }
  #twitter span,li,a{
    font-size:12px;
  }
  #twitter ul{
    list-style-type: none;
  }
}