# BEGIN SYSTEM HTTPS SETTING
RewriteEngine on
RewriteOptions inherit

# Redirect HTTP to HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Redirect specific URLs (e.g., nf.html)
RewriteCond %{REQUEST_URI} ^/nf\.html$
RewriteRule ^nf\.html$ /nf [R=301,L]

RewriteCond %{REQUEST_URI} ^/nf/?$
RewriteRule ^nf/?$ /nf/2024 [R=301,L]

RewriteCond %{REQUEST_URI} ^/sinkan\.html$
RewriteRule ^sinkan\.html$ /sinkan [R=301,L]

RewriteCond %{REQUEST_URI} ^/sinkan/?$
RewriteRule ^sinkan/?$ /sinkan/2024 [R=301,L]
# END SYSTEM HTTPS SETTING
