.time-notification {
  color: red;
}

.courses {
  margin-bottom: 2em;
}

.course_date {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 1.7em;
  color: rgb(102, 102, 102);
}

.course_title {
  margin-top: -0.3em;
  font-size: 1.2em;
  font-family: "Kosugi Maru", sans-serif;
  font-weight: bold;
  color: rgb(0, 101, 184);
}

@media screen and (min-width: 561px) {
  .course_description {
    margin-left: 3em;
  }
}

@media screen and (max-width: 560px) {
  .course_description {
    margin-left: 1em;
  }
}
